div {
  box-sizing: border-box;
  font-family:'Outfit';
  font-size: 15px;
}

body {
  padding: 20px;
  padding-top: 150px;
  padding-left: 600px;
  background-color: #d6e2f0;
}

#card {
  width: 290px;
  height: 460px;
  box-shadow:  -1px 1px 11px 0px rgba(186,186,186,1);
  border-radius: 15px;
  background-color: white;
}

#top-section {
  display: inline-block;
  width: 100%;
  height: 60%;
}

#bottom-section {
  height: 40%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

#image {
  padding-top: 15px;
  padding-left: 15px;
}

img {
  border-radius: 10px;
}

p {
  font-size: 0.9rem;
  color: #7b879d;
}
